PORT=3000
NODE_ENV=production

OPENAI_API_KEY=
MAILJET_API_KEY=
MAILJET_SECRET_KEY=

DB_USER=devuser
DB_HOST=localhost
DB_DATABASE=chosenpath_dev
DB_PASSWORD=devpassword
DB_PORT=5432

JWT_SECRET=

# Development settings
# NODE_ENV=development
# No JWT_SECRET needed
